.navbar__mobile-menu-toggle {
    display: none;
}



/* Mobile e show */
@media (max-width: 768px) {
    .navbar__container {
        display: none;
    }

    .navbar__Mobile-container {
        display: flex;
    }

    .navbar__mobile-menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 1.6rem;
        color: #1a1a1a;
    }
}